{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="paralax1">
    <div class="row">
        <div class="col">
        <h1>Linha 1 - coluna 1</h1>
        <div class="jumbotron" style= "">
        <p class="lead">🔧⚙ Serviços de Manutenção ⚙🔧
        <p class="lead">📍Atendimento em Belém e Região Metropolitana</p>
        <p class="lead">📞 Agende seu atendimento: (91) 98544-2320</p>
         <hr class="my-4">
        <button type="display-4" class="btn btn-warning">Informações</button>
        </div>
        </div>
        
    </div>
</div>
<div class="paralax">
    <div class="row" style="">
        <div class="col">
        Linha 2 - coluna 1
        </div>
        <div class="col" >
        Linha 2 - coluna 2
        </div>
    </div>
</div>
<div class="paralax">
    <div class="row" style="">
        <div class="col">
        Linha 3 - coluna 1
        </div>
        <div class="col" >
        Linha 3 - coluna 2
        </div>
    </div>
</div>
{% endblock content %}
