body{
    background: rgb(241, 232, 232);
  /**  background: linear-gradient(0deg, rgba(223, 222, 222, 0.614) 0%, rgba(197, 197, 197, 0.877) 48%);**/
}
.paralax{
    color: rgb(27, 17, 17);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:local;
    padding-top: 300px;
    padding-bottom:300px;
  }
  .paralax1{

  }